.blog-card {
  position: relative;
  background-color: $drivschol-white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);

  &__image {
    position: relative;

    &-item {
      overflow: hidden;
      height: 240px;

      img {
        object-fit: cover;
        transition: 0.5s;
        background-size: cover;
        height: 100%;
        width: 100%;
        transition: all 2s ease;
      }

      @media #{$xs} {
        height: 200px;
      }
    }

    &-link {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba($drivschol-black-rgb, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateX(-20%);
      transition: opacity 500ms ease, transform 500ms ease;

      &::before,
      &::after {
        content: "";
        width: 32px;
        height: 2px;
        background-color: $drivschol-white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

    }
  }

  &:hover &__image>a {
    opacity: 1;
    transform: translateX(0);
    left: auto;
    right: 0;
  }

  &:hover .blog-card__image img {
    transform: scale(1.15);
  }

  &:hover .blog-card__image .date__shape {
    transform: scale(1.0);
  }

  &-two {
    .blog-card__image-item2 {
      overflow: hidden;
      max-height: 449px;
      width: 100%;

      img {
        transition: 0.5s;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all 2s ease;
      }
    }
  }

  &__content {
    background-color: $drivschol-white;
    position: relative;
    transition: all 500ms ease;
  }

  &-content2 {
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: $drivschol-white;
  }

  &__date {
    width: 90px;
    height: auto;
    background-color: $drivschol-black2;
    text-align: center;
    position: absolute;
    bottom: -30px;
    right: 41px;
    z-index: 10;

    @media #{$lg,$md,$sm,$xs} {
      bottom: -30px;
    }

    &__month {
      background-color: $drivschol-primary;
      display: block;
      padding: 16px 0px;
      color: $drivschol-white;
      font-size: 38px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-bottom: 0;
      line-height: 1;

      @media #{$md,$sm,$xs} {
        font-size: 30px;
      }
    }

    &__year {
      font-size: 12px;
      text-transform: uppercase;
      color: $drivschol-white;
      padding: 8px 0px 7px 0px;
      display: block;
      font-family: $drivschol-heading-font;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0.48px;

      @media #{$lg,$md,$sm,$xs} {
        padding: 3px 0px;
      }
    }

    .date__shape {
      position: absolute;
      width: 132% !important;
      height: 120%;
      bottom: 0px;
      right: -15px;
      z-index: -1;
    }
  }

  &__content {
    background-color: $drivschol-white;
    padding: 30px 40px 40px 40px;
    position: relative;
    transition: all 500ms ease;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);

    @media #{$lg} {
      padding: 30px 20px 40px 20px;
    }

    @media #{$sm,$xs} {
      padding: 30px 20px 40px 20px;
    }

    &-thumb {
      margin-right: 10px;

      .author-img {
        height: 35px;
        width: 35px;
        border-radius: 500px;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    &-author {
      .author-name {
        font-size: 16px;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 1.4;
        margin-bottom: 0px;
        transition: all 500ms ease-in-out;
        margin-bottom: -6px;
      }

      .author-title {
        color: $drivschol-gray;
        font-family: $drivschol-font;
        font-size: 12px;
        font-weight: $fw-sbold;
        line-height: 1.8;
        text-transform: uppercase;
      }

      &:hover {
        .author-name {
          color: $drivschol-primary;
        }
      }
    }
  }

  &__meta {
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    margin-top: -5px;

    @media #{$lg} {
      margin-bottom: 5px;
    }

    @media #{$sm,$xs} {
      margin-bottom: 5px;
    }
  }

  &__meta2 {
    margin-top: -7px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;

    li {
      a {
        color: $drivschol-gray;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 214.286%;
        letter-spacing: 0.196px;
        text-transform: capitalize;
        transition: all 500ms ease-in-out;

        &:hover {
          color: $drivschol-primary;
        }
      }

      i {
        color: $drivschol-primary;
        font-size: 16px;
        margin-right: 5px;
      }

      &:not(:first-child)::before {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 400;
      }
    }
  }

  &:hover &__content {
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
  }

  &__title {
    text-transform: capitalize;
    color: $drivschol-black2;
    font-size: $heading-size5;
    line-height: 1.45;
    font-weight: $fw-bold;
    margin-bottom: 15px;

    @include devices(md) {
      font-size: 24px;
    }

    @include devices(xl) {
      font-size: $heading-size4;
      margin-bottom: 20px;
    }

    a {
      color: inherit;
      @include borderHover;

      &:hover {
        color: $drivschol-primary;
      }
    }
  }

  &__text {
    color: $drivschol-gray;
    margin-bottom: 31px;
    letter-spacing: 0;
    width: 100%;
  }

  &__link {
    background: $drivschol-gray2;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.0;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    color: $drivschol-text;
    transition: all 500ms ease;
    position: relative;
    padding: 18px 30px;

    &:hover {
      color: $drivschol-white;
      background: $drivschol-primary;

      &::after {
        color: $drivschol-white;
      }
    }

    &::after {
      content: '\e921';
      clear: both;
      font-size: 12px;
      font-weight: $fw-bold;
      position: absolute;
      top: 40%;
      transform: translateX(40% 40%);
      color: $drivschol-primary;
      font-size: 12px;
      right: 30px;
      font-family: 'icomoon' !important;
    }
  }

  &__link2 {
    background: transparent;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.0;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    color: $drivschol-text;
    transition: all 500ms ease;
    position: relative;
    padding: 17px 14px;
    border-radius: 500px;
    border: 1px solid $drivschol-primary;

    &:hover {
      color: $drivschol-white;
      background: $drivschol-primary;
    }
  }

}

.blog-one {
  padding: 120px 0;
  position: relative;
  background-color: $drivschol-white;

  @media (max-width: 767px) {
    padding: 80px 0;
  }

  &__home {
    padding-top: 180px;

    @media #{$xxl,$xl} {
      padding-top: 120px;
    }

    @media #{$md} {
      padding-top: 100px;
    }

    @media #{$sm,$xs} {
      padding-top: 80px;
    }
  }

  &--page {
    padding-top: 120px;

    @media (max-width: 767px) {
      padding-top: 60px;
    }
  }
  &--base{
    position: relative;
    &::before{
      content: "";
      width: 100%;
      top: 0%;
      left: 0;
      right: 0%;
      bottom: 50%;
      position: absolute;
      background-color: $drivschol-gray2;
    }
  }
  &--home{
    padding: 90px 0px 120px 0px;
    position: relative;
    background-color: $drivschol-white;

    @media (max-width: 767px) {
      padding: 50px 0px 80px 0px;
    }
  }
  &__carousel {
    .owl-nav {
      @include devices(lg) {
        display: none;
      }
    }
  }
}

.blog-card-two {
  max-width: 100%;
  box-shadow: none;

  .blog-card__image-item {
    max-height: 450px;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .blog-card__title {
    margin-bottom: 12px;
    font-size: 30px;
    text-transform: none;
  }
}


.blog-card-link,
.blog-card-qoute {
  background-color: $drivschol-gray;
  padding: 30px;

  @include devices(md) {
    padding: 60px;
  }

  .blog-card__title {
    margin: 0;
    margin-bottom: -10px;
  }

}

.blog-card-qoute__text {
  margin: 0;
  margin-bottom: -5px;
}

.blog-card-qoute__image {
  line-height: 1em;
  margin-bottom: 20px;
}

.blog-card-link__icon {
  font-size: 40px;
  color: $drivschol-text;
  line-height: 1em;
  margin-bottom: 22px;
}

.pronation_widget {
  &-widget2 {
    margin-top: 20px;

    ul {
      padding-left: 0;
    }
  }

  margin-top: 50px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    a {
      display: inline-block;
      padding: 4px 20px;
      border: 1px solid $drivschol-gray2;
      color: $drivschol-black2;
      font-family: $drivschol-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 200%;
      transition: all 500ms ease-in-out;

      &.active,
      &:hover {
        background-color: $drivschol-primary;
        color: $drivschol-white;
        border: 1px solid $drivschol-primary;
      }
    }

  }
}