.team-one {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $drivschol-white;

  .sec-title {
    text-align: center;
  }

  &__carousel {
    .owl-nav {
      @include devices(lg) {
        display: none;
      }
    }
  }

  &--page {
    padding-top: 100px;
  }

}

.team-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  &__image {
    position: relative;
    height: 430px;
    width: auto;
    overflow: hidden;

    @media #{$xs} {
      height: 370px;
    }

    img {
      object-fit: cover;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 100%;
      transform: scale(1.0);
      transition: all 500ms ease;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 0%;
      height: 0%;
      transform: translateY(-100%);
      transition: all 500ms ease;
      z-index: 1;
    }
  }

  &__email {
    background-color: $drivschol-text;
    position: relative;

    >a {
      width: 50px;
      height: 50px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $drivschol-white;
      transition: all 500ms ease;

      &:hover {
        background-color: $drivschol-black2;
        color: $drivschol-white;
      }
    }
  }

  &__social {
    position: absolute;
    top: -180px;
    right: 12%;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 700ms ease-in-out;
    background-color: $drivschol-white;

    &:hover {
      color: $drivschol-primary;

      >i {
        color: $drivschol-primary;
      }
    }

    >i {
      width: 50px;
      height: 50px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $drivschol-white;
      transition: all 500ms ease;
    }

    &__list {
      padding: 10px;
      background-color: $drivschol-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      min-height: 50px;
      opacity: 1;
      transition: 500ms ease;

      a {
        color: $drivschol-heading-text;
        font-size: 14px;
        transition: all 500ms ease;
        padding: 6px 0px;

        &:hover {
          color: $drivschol-primary;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -9px;
        left: 40%;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: $drivschol-white;
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-top: -64px;
    margin-left: 35px;
    padding: 29px 40px;
    background-color: $drivschol-white;
    border-left: 5px solid $drivschol-primary;
    box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.08);

    &-share-icon {
      background-color: $drivschol-primary;
      color: $drivschol-white;
      position: absolute;
      margin-top: -55px;
      right: 30px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      font-size: 16px;
      display: flex;
      border-radius: 500px;
      justify-content: center;
      align-items: center;
      transition: all 500ms ease;

      &:hover {
        background-color: $drivschol-black2;

        >i {
          color: $drivschol-white;
        }
      }
    }

    &-shape {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
      width: 54px;

      svg {
        transition: all 500ms ease;
        fill: $drivschol-gray2;
        width: 100%;
        height: auto;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0%;
      right: 0;
      background-image: url(../images/shapes/team-line.png);
      background-repeat: no-repeat;
      background-position: top right;
      width: 100px;
      height: 100%;
      z-index: 0;
    }
  }

  &__title {
    text-transform: capitalize;
    font-weight: $fw-ebold;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: -5px;

    a {
      color: inherit;
      @include borderHover;

      &:hover {
        color: $drivschol-primary;
      }
    }
  }

  &__designation {
    color: $drivschol-gray;
    font-family: $drivschol-font;
    font-size: 16px;
    font-weight: $fw-normal;
    margin-bottom: 0;
    margin-top: -3px;
  }

  &__hover {
    &:hover {
      .team-card__social {
        opacity: 1;
        transform: translateY(-15px);
      }
    }
  }

}

.team-card {
  &:hover {
    .team-card__image {
      img {
        transform: scale(1.1);
      }

      &::before {
        width: 100%;
        height: 100%;
        transform: translateY(0%);
      }
    }

    .team-card__content-shape {
      svg {
        fill: $drivschol-heading-text;
      }
    }
  }
}


//team details
.team-details {
  padding-top: 120px;
  padding-bottom: 90px;
  border-bottom: 1px solid $drivschol-border-color;

  @media #{$md} {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media #{$sm,$xs} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__image {
    display: inline-block;
    position: relative;
    margin-right: -15px;
    @media #{$md,$sm,$xs} {
      margin-right: 0px;
    }
    img {
      max-width: 100%;
    }
  }

  &__content {
    padding-left: 50px;

    @media #{$md,$sm,$xs} {
      padding-left: 0px;
    }

    @media #{$sm,$xs} {
      padding-left: 0px;
      margin-top: 30px;
    }

    &__subtitle {
      margin-top: -6px;
      color: $drivschol-primary;
      font-family: $drivschol-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__title {
      margin-top: -8px;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 125%;
      letter-spacing: -1.2px;
      margin-bottom: 17px;

      @media #{$md,$sm,$xs} {
        font-size: 30px;
      }
    }

    &__text {
      letter-spacing: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 200%;
      margin-bottom: 32px;

      @media #{$md,$sm,$xs} {
        margin-bottom: 22px;
      }
    }

    &__highlight {
      background-color: $drivschol-black2;
      padding: 20px 40px;
      border-left: 8px solid $drivschol-primary;
      margin-bottom: 40px;
      position: relative;

      &__text {
        color: $drivschol-white;
        font-family: $drivschol-heading-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0;
      }

      &__shape {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #2C2C31;
        svg{
          fill: currentColor;
        }
        @media #{$sm,$xs} {
          display: none;
        }
      }

      @media #{$md,$sm,$xs} {
        padding: 10px 20px;
        margin-bottom: 30px;

        &__text {
          font-size: 16px;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $drivschol-gray2;
      font-size: 19px;
      color: $drivschol-black2;
      transition: all 500ms ease;
      border-radius: 0;

      &:hover {
        background-color: $drivschol-primary;
        color: $drivschol-white;
      }
    }
  }

  &__list {
    margin-bottom: 30px;

    >li {
      color: $drivschol-black2;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 10px;

      a {
        color: $drivschol-black2;
        @include borderHover;
      }

      span {
        display: inline-block;
        color: $drivschol-gray;
      }

      >i {
        color: $drivschol-primary;
        font-size: 16px;
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .team-skills {
    margin-bottom: 40px;

    &__progress {
      +.team-skills__progress {
        margin-top: 32px;

        @media #{$md,$sm,$xs} {
          margin-top: 15px;
        }
      }

      &__title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 144.444%;
        margin-bottom: 15px;

        @media #{$md,$sm,$xs} {
          margin-bottom: 10px;
        }
      }

      &__bar {
        width: 100%;
        height: 10px;
        position: relative;
        background-color: $drivschol-gray2;

      }

      &__inner {
        position: absolute;
        height: 10px;
        background-color: $drivschol-primary;
        transition: all 700ms linear;
        width: 0px;
      }

      &__number {
        position: absolute;
        bottom: calc(100% + 5px);
        right: 0;
        margin-bottom: 8px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
      }
    }

    @media #{$md,$sm,$xs} {
      margin-bottom: 25px;
    }
  }
}

.team-skills-one {
  &__top {
    padding-bottom: 66px;

    @media #{$md} {
      padding-bottom: 50px;
    }

    @media #{$sm,$xs} {
      padding-bottom: 30px;
    }
  }

  &__content {
    &__title {
      font-size: 30px;
      font-weight: 700;
      line-height: normal;
    }

    &__text {
      font-weight: 600;
      line-height: 32px;
    }
  }

  &__certificates {
    display: flex;
    align-items: center;
    gap: 20px;

    &__item {
      max-width: 176px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    @media #{$lg,$md,$sm,$xs} {
      flex-wrap: wrap;
    }
  }

  &__skill {
    padding-top: 45px;
    position: relative;

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      content: '';
      clear: both;
      width: 110%;
      height: 1px;
      background-color: $drivschol-gray2;

      @media #{$sm,$sm,$xs} {
        display: none;
      }
    }

    &::after {
      position: absolute;
      top: 0%;
      left: 0;
      content: '';
      clear: both;
      width: 15px;
      height: 15px;
      border-radius: 500px;
      background-color: $drivschol-heading-text;
      transition: all 0.4s ease-in-out;

      @media #{$sm,$sm,$xs} {
        display: none;
      }
    }

    &__start {
      display: block;
      color: $drivschol-primary;
      font-family: $drivschol-font;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 0;
    }

    &:hover {
      &::after {
        background-color: $drivschol-primary;
      }
    }

    @media #{$sm,$sm,$xs} {
      padding-top: 0px;
    }
  }

  &__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__text {
    letter-spacing: 0;
    max-width: 550px;
    width: 100%;
  }
}

.col-md-3 {
  &:last-child {
    .team-skills-one__skill {
      &::before {
        width: 100%;
      }
    }
  }
}


.team-skills-one {
  padding: 120px 0px;

  @media #{$md} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$sm,$xs} {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.team-form-one {
  position: relative;
  padding: 120px 0;
  background-color: $drivschol-gray2;
  z-index: 1;

  @media (max-width: 767px) {
    padding: 80px 0;
  }

  &__shape {
    position: absolute;
    top: 0%;
    left: 0%;

    @media #{$sm,$xs} {
      display: none;
    }
  }
  &__shape__right{
    position: absolute;
    top: 0%;
    right:0%;
    z-index: -1;

    @media #{$sm,$xs} {
      display: none;
    }
  }

  .container {
    position: relative;
    max-width: 870px;
  }

  .sec-title {
    text-align: center;
  }

  .form-one {

    .bootstrap-select>.dropdown-toggle,
    input[type=text],
    input[type=email],
    textarea {
      background-color: $drivschol-white;
    }

    textarea {
      height: 176px;
    }
  }
}

.form-one__control.form-one__control__full.text-center {
  .drivschol-btn {
    &::after {
      background-color: $drivschol-black2;
    }

    &::before {
      background-color: $drivschol-primary;
    }
  }
}

.gutter-y-50 {
  --bs-gutter-x: 50px;
}