.benefits-one{
    padding-top: 120px;
    position: relative;
    @media #{$lg} {
        padding-top: 100px;
    }
    @media #{$md,$sm,$xs} {
        padding-top: 80px;
    }
    &__left{
        padding-bottom: 30px;
        &__content{
            &__head{
                .sec-title{
                    padding-bottom: 23px;
                }
            }
            &__text{
                margin-bottom: 40px;
                letter-spacing: 0;
                font-size: 15px;
            }
            &__box{
                margin-top: 40px;
                &__list{
                    display: flex;
                    width: 380px;
                    height: auto;
                    padding: 35px 40px;
                    background: $drivschol-white;
                    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
                    flex-direction: column;
                    @media #{$xs} {
                        width: 320px;
                        padding: 25px 15px;
                    }
                    &__item{
                        position: relative;
                        color: $drivschol-black2;
                        border-bottom: 1px solid $drivschol-border-color;
                        padding-bottom: 14px;
                        margin-bottom: 15px;
                        letter-spacing: 0;
                        font-family: $drivschol-heading-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 162.5%;

                        &::before{
                            transition: all 0.5s ease-in-out;
                            content: "\f058";
                            color: $drivschol-primary;
                            margin-right: 7.90px;
                            font-family: "Font Awesome 5 Free";
                            font-size: 16px;
                            font-weight: 900;
                        }
                        &:last-child{
                            padding-bottom: 0;
                            border-bottom: 0;
                            margin-bottom: 0;
                        }
                        &:hover{
                            &::before{
                                color: $drivschol-black;
                            }
                        }
                    }
                }
            }
        }
    }
    &::after{
        z-index: -1;
        position: absolute;
        top: 0%;
        bottom: 160px;
        left: 0;
        width: 73.5%;
        content: "";
        background-image: url(../images/backgrounds/banefit-1-1.png);
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__thumb{
        &__item{
            margin-left: 40px;
            margin-bottom: 135px;
            @media screen and (min-width:300px) and (max-width:1700px)  {
                img{
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            @media #{$lg,$md,$sm,$xs} {
                margin-bottom: 0px;
            }
        }
        &__cta{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: -80px;
            margin-right: -80px;
            padding-bottom: 40px;
            @media #{$xl} {
                margin-left: -100px;
                margin-right: 20px;
            }
            @media #{$xl,$lg} {
                display: block;
                margin-left: -100px;
                margin-right: 20px;
            }
            @media #{$lg,$md,$sm,$xs} {
                display: flex;
                margin-left: 20px;
                margin-right: 20px;
            }
            @media #{$md,$sm,$xs} {
                display: block;
                margin-left: 20px;
                margin-right: 20px;
            }
            &__text{
                color: $drivschol-black2;
                font-family: $drivschol-heading-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 175%;
                letter-spacing: -0.4px;
                img{
                    margin-right: 10px;
                }
                @media #{$sm,$xs} {
                    font-size: 16px;
                }
                @media #{$xs} {
                    img{
                        display: block;
                    }
                }
            }
            &__btn{
                @media #{$md,$sm,$xs} {
                   margin-top: 30px;
                }
                padding: 16px 37.55px;
                &::after{
                    background: $drivschol-primary;
                }
                &:hover{
                    color: $drivschol-white;
                }
            }
        }
        @media #{$md,$sm,$xs} {
           margin-top: 30px;
        }
    }
    &__element{
        display: flex;
        justify-content: center;
        top: 0;
        left: 73.3%;
        position: absolute;
        bottom: 10%;
        width: 237px;
        height: 78.55%;
        align-items: end;
        background: $drivschol-primary;
        z-index: -1;
        color: #DA0D0E;
        svg{
            fill: currentColor;
        }
    }
}

.benefit-three{
    position: relative;
    padding-top: 80px;
    &__bg{
        background-position: 0 0;
        position: absolute;
        top: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0%;
        right: 0;
        bottom: 20%;
        z-index: -1;
        &::after{
            position: absolute;
            content: '';
            background: rgba(17, 17, 23, 0.60);
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            z-index: 1;
        }
    }
    &__feature{
        &__list{
            max-width: 470px;
            position: relative;
            padding: 55px  33px;
            background: $drivschol-primary;
            @media #{$xs} {
                padding: 30px  20px;
                margin-left: auto;
                margin-right: auto;
            }
            &__item{
                padding: 19px 20px 19px 45px;
                position: relative;
                margin-bottom: 20px;
                background: $drivschol-white;
                color: $drivschol-text;
                font-family: $drivschol-heading-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;

                &::before {
                    content: "\f058";
                    color: $drivschol-primary;
                    margin-right: 8px;
                    font-family: "Font Awesome 5 Free";
                    font-size: 16px;
                    font-weight: 900;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                @media #{$lg,$sm,$xs} {
                    padding: 19px 15px 19px 15px;
                    font-size: 16px;
                }
            }
        }
        &__right{
            position: relative;
            padding-left: 55px;
            @media #{$md,$sm,$xs} {
                padding-left: 0px;
                margin-top: 30px;
            }
            &__head{
                color: $drivschol-white;
                font-size: 46px;
                font-weight: 800;
                line-height: 108.696%;
                letter-spacing: -0.92px;
                @media #{$md,$sm,$xs} {
                    font-size: 30px;
                }
            }
           &__image{
            margin-top: 42px;
            margin-left: -15px;
            img{
                animation: left 4s ease-in-out infinite;
            }
            @media #{$md,$sm,$xs} {
                margin-top: 30px;
                margin-bottom: 60px;
                margin-left: 0px;
            }
            @media #{$xl,$lg,$md,$sm,$xs} {
                img{
                    max-width: 100%;
                    object-fit: cover;

                }
            }
            }
        }
    }
    &::after{
        position: absolute;
        content: '';
        background: $drivschol-primary;
        width: 100%;
        height: 98.80%;
        top: 0%;
        left: 40%;
        z-index: -6;
        @media #{$xl,$lg,$md,$sm,$xs} {
            height: 100%;
        }
        @media #{$md,$sm,$xs} {
            left: 0%;
        }
    }
}