.cart-page {
	position: relative;
	padding: 120px 0;
	padding-top: 100px;

	@media (max-width: 767px) {
		padding: 80px 0;
		padding-top: 60px;
	}


	.table-responsive {
		position: relative;
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		@media (max-width: 1199px) {
			margin-bottom: 30px;
		}
	}

	&__table {
		position: relative;
		width: 100%;
		border: none;
		margin: 0 0 60px;

		@media (max-width: 1199px) {
			min-width: 1170px
		}

		thead tr th {
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 235%;
			color: $drivschol-black2;
			padding: 0 0 24px;
			font-family: $drivschol-heading-font;
			text-transform: capitalize;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid $drivschol-border-color !important;
			box-shadow: none;

			&:last-child {
				text-align: right;
			}
		}

		tbody tr td {
			font-size: 18px;
			font-weight: 500;
			color: $drivschol-black2;
			vertical-align: middle;
			border: none;
			box-shadow: none;
			background-color: transparent;
			border-top: 1px solid $drivschol-border-color;
			border-bottom: 1px solid $drivschol-border-color;
			padding: 30px 0;
			letter-spacing: 0;

			&:last-child {
				text-align: right;
			}
		}

		&__meta {
			display: flex;
			align-items: center;

			&-img {
				width: 119px;
				height: 119px;
				background-color: $drivschol-white;
				border: 1px solid $drivschol-border-color;
				margin-right: 34px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					mix-blend-mode: multiply;
				}
			}

			&-title {
				font-size: 20px;
				text-transform: capitalize;
				margin: 0;
				font-weight: bold;
				color: $drivschol-black2;
				a {
					color: inherit;

					&:hover {
						color: $drivschol-text;
					}
				}
			}
		}

		&__remove {
			display: block;
			color: $drivschol-black2;
			font-size: 16px;

			&:hover {
				color: $drivschol-text;
			}
		}
	}

	&__coupone-form {
		position: relative;
		display: flex;

		@media (max-width: 767px) {
			display: block;
		}

		input[type="text"] {
			height: 60px;
			width: 375px;
			border: none;
			background-color: $drivschol-gray2;
			padding-left: 30px;
			padding-right: 30px;
			outline: none;
			font-size: 14px;
			color: $drivschol-text;
			font-family: $drivschol-font;
			display: block;
			font-weight: 500;
			margin-right: 10px;

			@media (max-width: 1199px) {
				width: 290px;
			}

			@media (max-width: 767px) {
				width: 100%;
				margin: 0 0 10px;
			}
		}
	}

	&__cart-total {
		position: relative;
		text-align: right;
		margin: -8px 0 24px;
		padding: 0;

		@media (max-width: 991px) {
			text-align: left;
			margin-top: 45px;
		}

		li {
			color: $drivschol-black2;
			display: block;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 200%;
			font-family: $drivschol-heading-font;
			margin: 0 0 0px;

			@media (max-width: 991px) {
				span {
					display: inline-block;
					min-width: 172px;
				}
			}
			&:last-child{
				margin-top: 20px;
				padding-top: 20px;
				position: relative;
				&::after{
					content: '';
					width: 70%;
					height: 1px;
					position: absolute;
					top: 0%;
					right: 0;
					background: $drivschol-border-color;
					@media #{$md} {
						width: 50%;
						right: auto;
						left: 0%;
					}
					@media #{$sm,$xs} {
						width: 50%;
						right: auto;
						left: 0%;
					}
				}
			}
		}

		&-amount {
			font-size: 18px;
			color: $drivschol-text;
			font-weight: 500;
			text-transform: inherit;
			font-family: $drivschol-font;
			display: inline-block;
			min-width: 172px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		gap: 10px;

		@media (max-width: 991px) {
			justify-content: flex-start;
		}
	}
}


.ui-datepicker .ui-datepicker-header {
	background-image: none;
	background-color: $drivschol-black2;
	color: $drivschol-white;
	font-family: $drivschol-font;
  }

.ui-datepicker-calendar {
th {
	span {
	font-family: $drivschol-font;
	}
}

td {
	background-color: $drivschol-gray;
	background-image: none;
	font-family: $drivschol-font;
	color: $drivschol-text;

	a {
	border-color: $drivschol-border-color;
	background-color: $drivschol-gray;
	background-image: none;
	}
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border-color: $drivschol-border-color;
	background-color: $drivschol-gray;
	background-image: none;
	color: $drivschol-text;
	padding: 10px 5px;
	text-align: center;
	line-height: 1em;

	&:hover {
	color: $drivschol-white;
	background-color: $drivschol-text;
	}
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	color: $drivschol-white;
	background-color: $drivschol-text;
}
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
background-image: none;
background-color: $drivschol-white;
color: $drivschol-black2;

&:hover {
	background-color: $drivschol-text;
	color: $drivschol-white;
	top: 2px;
}
}

.ui-datepicker .ui-datepicker-prev {
&:hover {
	left: 2px;
}
}

.ui-datepicker .ui-datepicker-next {
&:hover {
	right: 2px;
}
}