.feature-one {
    position: relative;
    z-index: 2;
    background-color: $drivschol-gray;
    padding: 30px 0 65px;

    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 497px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        mix-blend-mode: luminosity;
    }

    &__item {
        position: relative;
        margin-bottom: 30px;

        &::after {
            position: absolute;
            right: -28px;
            top: 0;
            width: 1px;
            height: 95%;
            content: '';
            background-color: $drivschol-border-color;

            @media(max-width: 767px) {
                display: none;
            }
        }

        @media(max-width: 991px) {
            &--no-border-md::after {
                display: none;
            }
        }

        &--no-border::after {
            display: none;
        }

        &:hover &__img::after {
            -webkit-animation: zoom-hover .95s;
            animation: zoom-hover .95s;
        }

        &:hover &__icon span {
            transform: scale(0.9);
        }

        &:hover &__hover-img {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        &__hover-img {
            position: absolute;
            left: -125px;
            top: -25px;
            right: 0;
            margin: auto;
            width: 164px;
            height: 157px;
            visibility: hidden;
            opacity: 0;
            transform: scale(1.1);
            transition: 500ms ease;

            img {
                width: 100%;
            }

            @keyframes float-bob-y-2 {
                0% {
                    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
                    transform: translateY(0px) translateX(0px) rotate(0deg);
                }

                50% {
                    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
                    transform: translateY(10px) translateX(10px) rotate(5deg);
                }

                100% {
                    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
                    transform: translateY(0px) translateX(0px) rotate(0deg);
                }
            }
        }

        &__img {
            width: 171px;
            height: 171px;
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0 auto 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 0;
                height: 0;
                background: rgba($drivschol-white-rgb, 0.2);
                border-radius: 50%;
                transition: all 500ms linear;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                opacity: 0;
                z-index: 2;
            }

            @keyframes zoom-hover {
                0% {
                    opacity: 1;
                }

                40% {
                    opacity: 1;
                }

                100% {
                    width: 120%;
                    height: 120%;
                    opacity: 0;
                }
            }
        }

        &__icon {
            width: 66px;
            height: 66px;
            background-color: $drivschol-text;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: $drivschol-white;
            position: absolute;
            right: 0;
            bottom: 0;

            span {
                transform: scale(1);
                transition: 500ms ease;
            }
        }

        &__sub-title {
            font-size: 34px;
            color: $drivschol-text;
            font-weight: 400;
            line-height: 1;
            font-family: $drivschol-special-font;
            margin: 0 0 -2px;
        }

        &__title {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 -5px;
        }

        svg {
            width: 31px;
            height: 4px;
            fill: $drivschol-text;
        }

        &__text {
            font-size: 15px;
            line-height: 26px;
            font-weight: 500;
            max-width: 280px;
            margin: 9px auto 0;
        }
    }
}