.google-map {
  position: relative;

  iframe {
    position: relative;
    display: block;
    border: none;
    height: 540px;
    width: 100%;
    mix-blend-mode: luminosity;
    @media #{$md,$sm,$xs} {
      height: 440px;
    }
  }

  &__contact {
    overflow: hidden;
    background-color: $drivschol-gray;
  }
}

.contact-map {
  position: relative;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 1920px;
  }
}