.demo-one {
	padding-top: 120px;
	padding-bottom: 120px;

	.row {
		--bs-gutter-y: 30px;
	}

	&__card {
		background-color: $drivschol-white;
		box-shadow: 0px 10px 60px 0px rgba($drivschol-black3-rgb, 0.1);
		text-align: center;
		transition: 500ms ease;
		transform: translateY(0px);

		&:hover {
			transform: translateY(-10px);
		}
	}

	&__title {
		text-transform: capitalize;
		font-size: 20px;
		color: $drivschol-black2;
		font-weight: $fw-sbold;
		margin-bottom: 0;
		padding-bottom: 0;

		a {
			color: inherit;
			@include borderHover;

			&:hover {
				color: $drivschol-primary;
			}
		}
	}

	&__image {
		position: relative;
		overflow: hidden;

		img {
			max-width: 100%;
			transition: filter 500ms ease;
			filter: blur(0px);
		}
	}

	&__card:hover &__image {
		img {
			filter: blur(2px);
		}
	}

	&__btns {
		background-color: rgba($drivschol-black3-rgb, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		transform: scale(1, 0);
		transition: transform 500ms ease, opacity 600ms linear;
		transform-origin: bottom center;
		opacity: 0;
	}

	&__card:hover &__btns {
		transform: scale(1, 1);
		opacity: 1;
		transform-origin: top center;
	}

	&__btn {
		font-size: 13px;
		padding: 16px 25px;

		&::before {
			background-color: $drivschol-black3;
		}

		&::after {
			background-color: $drivschol-primary;
		}

		&:hover {
			color: $drivschol-white;
		}

		@include devices(md) {
			display: inline-flex;
		}
	}

	&__title {
		padding-top: 20.5px;
		padding-bottom: 20.5px;
	}
}

.home-showcase {
	margin-top: 0px;
	margin-bottom: -20px;

	.row {
		--bs-gutter-x: 40px;
		--bs-gutter-y: 20px;
	}

	&__inner {
		padding: 40px 40px 25px;
		background-color: $drivschol-white;
		box-shadow: 0px 10px 60px 0px rgba($drivschol-black3-rgb, 0.07);
	}

	.demo-one__card {
		box-shadow: none;
	}

	.demo-one__btns {
		flex-direction: column;
	}

	.demo-one__btn {
		min-width: 125px;
		text-align: center;
		justify-content: center;
	}

	.demo-one__title {
		padding: 0;
		font-size: 18px;
		margin-top: 15px;
		padding-bottom: 15px;
	}
}