.price-page__inner {
	margin-bottom: 60px;

	@media #{$sm,$xs} {
		margin-bottom: 40px;
	}

	&__btn {
		margin: 0px 12px;
		padding: 20px 40px;
		color: $drivschol-heading-text;

		&::before {
			background-color: $drivschol-gray2;
		}

		&::after {
			background-color: $drivschol-primary;
		}

		&.active-btn {
			&::before {
				background-color: $drivschol-primary;
			}
		}

		&:hover,
		&.active-btn {
			color: $drivschol-white;
		}

		@media #{$xs} {
			padding: 15px 30px;
			margin: 0px 5px;
		}
	}

}


.package-card {
	background: $drivschol-white;
	box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
	padding: 0px 30px 38px 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

	&__head {
		position: relative;
		z-index: 1;

		&__item {
			position: relative;
			text-align: center;
			padding-bottom: 44px;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
			background-color: $drivschol-primary;
			transition: all 0.4s ease-in-out;

			&__price {
				color: $drivschol-white;
				text-align: center;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 135%;
				margin-bottom: 0;
				transition: all 0.4s ease-in-out;
				font-family: $drivschol-heading-font;

				sub {
					font-size: 20px;
				}
			}

			&__name {
				margin-top: -8px;
				color: rgba(255, 255, 255, 0.70);
				text-align: center;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 293.75%;
				margin-bottom: 0px;

			}

			&__shape__one {
				position: absolute;
				right: 20px;
				top: 24px;

				svg {
					fill: #000;
					transition: all 0.4s ease-in-out;
				}
			}

			&__shape__two {
				position: absolute;
				right: 20px;
				top: 0px;

				svg {
					fill: #000;
					transition: all 0.4s ease-in-out;
				}
			}


		}

		&__shape {
			position: absolute;
			bottom: -5px;
			left: calc(50px + 10px);
			content: '';
			clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
			background: $drivschol-black2;
			width: 194px;
			height: 98px;
			z-index: -1;
			transition: all 0.4s ease-in-out;

			@media #{$lg} {
				left: calc(10px + 8px);
			}

			@media #{$md} {
				left: calc(15px + 25px);
			}

			@media #{$sm} {
				left: calc(50px + 20px);
			}

			@media #{$xs} {
				left: calc(15% + 20px);
			}

			@media screen and (max-width: 375px) {
				width: 160px;
			}

			@media screen and (max-width: 320px) {
				width: 120px;
			}
		}

		&::after {
			position: absolute;
			top: -30px;
			left: -30px;
			content: '';
			width: 31px;
			height: 30px;
			background: $drivschol-primary;
			clip-path: polygon(100% 0, 0 100%, 100% 100%);
			transition: all 0.4s ease-in-out;
		}

		&::before {
			position: absolute;
			top: -30px;
			left: 0;
			content: '';
			width: 99.9999999%;
			height: 31px;
			background: $drivschol-primary;
			transition: all 0.4s ease-in-out;
		}

		&__flag {
			position: absolute;
			top: -90px;
			right: -70px;
		}
	}

	&__body {
		padding-top: 28px;

		&__title {
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: center;
			border-bottom: 1px solid $drivschol-gray2;
			padding-bottom: 22px;
			margin-bottom: 0;
		}

		&__list {
			padding-left: 0;

			&__item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $drivschol-gray2;
				padding: 12px 0px 11px 0px;

				&__text {
					padding-bottom: 0;
					margin-bottom: 0;
					color: $drivschol-gray;
					font-family: $drivschol-heading-font;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 162.5%;
					text-transform: capitalize;
				}

				&__package {
					padding-bottom: 0;
					margin-bottom: 0;
					color: $drivschol-black2;
					font-family: $drivschol-heading-font;
					font-size: 16px;
					font-style: normal;
					font-weight: 600;
					line-height: 162.5%;
					text-transform: capitalize;
				}
			}
		}

		&__btn {
			margin-top: 54px;

			a {
				padding: 12px 46px;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 162.5%;

				&::after {
					background-color: $drivschol-primary;
				}

				&:hover {
					color: $drivschol-white;
				}
			}
		}
	}

	&:hover,
	&.active {
		.package-card__head {
			.package-card__head__item {
				background-color: $drivschol-black2;
			}

			.package-card__head__item__price {
				color: $drivschol-primary;
			}

			.package-card__head__item__shape__one {
				svg {
					fill: #fff;
				}
			}

			.package-card__head__item__shape__two {
				svg {
					fill: #fff;
				}
			}

			.package-card__head__shape {
				background: $drivschol-primary;
			}

			&::after {
				background-color: $drivschol-black2;
			}

			&::before {
				background-color: $drivschol-black2;
			}
		}
	}

	&.active {
		.drivschol-btn {
			&::before {
				background-color: $drivschol-primary;
			}
		}
	}
}

.package-card__two {
	.package-card__head::after {
		position: absolute;
		top: -30px;
		right: -30px;
		left: auto;
		content: '';
		width: 31px;
		height: 30px;
		background: $drivschol-primary;
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
		transition: all 0.4s ease-in-out;
	}
}




.price-page {
	position: relative;
	background-color: $drivschol-white;

	&__home {
		padding-bottom: 130px;
	}

	padding-top: 120px;
	padding-bottom: 90px;

	@media #{$xl,$lg} {
		padding-bottom: 90px;
	}

	@media #{$md} {
		padding-top: 100px;
		padding-bottom: 70px;
	}

	@media #{$sm,$xs} {
		padding-top: 80px;
		padding-bottom: 50px;
	}
}