.service-details {
	padding: 120px 0;

	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__thumbnail {
		max-height: 530px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 45px;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		@media #{$md} {
			max-height: 450px;
			margin-bottom: 30px;
		}
		@media #{$sm,$xs} {
			max-height: 400px;
			margin-bottom: 30px;
		}
	}

	&__single{
		margin-bottom: 40px;
		&:last-child{
			margin-bottom: 0px;
		}
	}

	&__title {
		margin: 0;
		font-size: 25px;
		font-weight: 700;
		line-height:100%;
		margin-bottom: 28px;
		@include devices(md) {
			font-size: 30px;
		}
	}

	&__sub-title {
		margin: 0;
		font-size: 25px;
		font-weight: 700;
		line-height:100%;
		color: $drivschol-primary;
		margin-bottom: 20px;
		@include devices(xl) {
			font-size: 30px;
			margin-bottom: 38px;
		}
	}

	&__text {
		margin: 0;
		font-size: 16px;
		letter-spacing: 0;
		margin-bottom: 38px;
		font-weight: 600;
		line-height: 200%;
		@media #{$lg,$sm,$xs} {
			margin-bottom: 25px;
		}
	}

	&__single-inner{
		display: flex;
		align-items: center;
		gap: 30px;
		margin-top: 34px;
		@media #{$lg,$md,$sm,$xs} {
			flex-wrap: wrap;
		}
		.benefit__img{
			max-width: 270px;
			display: inline-block;
		}
		&--base{
			flex-wrap: nowrap;
			padding-bottom: 20px;
			@media #{$sm,$xs} {
				flex-wrap: wrap;
			}
		}
	}

	&__benefit{
		.service-details__title{
			margin-bottom: 7px;
		}
		.service-details__text{
			margin-bottom: 26px;
			letter-spacing: 0;
			@media #{$lg,$sm,$xs} {
				margin-bottom: 20px;
			}
		}
		.sub_title{
			margin-bottom: 20px;
			color: $drivschol-primary;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
			@media #{$lg} {
				font-size: 19px;
				margin-bottom: 15px;
			}
		}
		.service-details__list{
			margin-bottom: 0;
			i{
				color: $drivschol-primary;
			}
		}
	}

	&__inner-item{
		max-width: 370px;
		display: flex;
		@media #{$lg} {
			max-width: 285px;
		}
		.item-icon{
			padding:35px 15px;
			background: $drivschol-primary;
			i{
				font-size: 50px;
				color: $drivschol-white;
			}
		}
		.item-content{
			padding: 25px 30px 25px 30px;
			background: $drivschol-white;
			box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
			@media #{$lg,$sm,$xs} {
				padding: 30px 10px;
			}
			.item__title{
				font-size: 24px;
				font-style: normal;
				font-weight: bold;
				line-height: normal;
				margin-bottom: 3px;
				@media #{$lg,$sm,$xs} {
					font-size: 20px;
				}
			}
			.item__dec{
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 178.571%;
				letter-spacing: 0.42px;
				margin-bottom: -4px;
			}
		}
	}

	&__list {
		margin-bottom: 0;
		margin-bottom: 40px;

		li {
			position: relative;
			color: $drivschol-black2;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 261.111%;
			padding-left: 30px;
			margin-bottom: -10px;
			@media #{$lg} {
				font-size: 15px;
			}

			+li {
				margin-top: 2px;
			}

			>i {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-size: 18px;
				color: $drivschol-text;
			}
		}
	}

	&__process {
		@include devices(md) {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			margin-top: 20px;
		}

		li+li {
			margin-top: 20px;

			@include devices(md) {
				margin-top: 0;
			}
		}

		&__top {

			@include devices(md) {
				display: flex;
				align-items: center;
			}
		}

		&__icon {
			width: 57px;
			height: 57px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $drivschol-text;
			color: $drivschol-white;
			font-size: 21px;
			border-radius: 50%;
			margin-right: 20px;
			transition: all 500ms ease;
			margin-bottom: 20px;

			&::before {
				transform: scale(1);
				transition: transform 500ms ease;
			}

			@include devices(md) {
				margin-bottom: 0;
			}

			&:hover {
				background-color: $drivschol-black2;
				color: $drivschol-white;

				&::before {
					transform: scale(.9);
				}
			}
		}

		&__title {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
			color: $drivschol-black2;

			@include devices(md) {
				font-size: 20px;
			}
		}

		&__text {
			margin: 0;
			font-size: 15px;
			line-height: 2em;
			max-width: 220px;
			margin-top: 10px;
		}
	}

	&__post {
		margin-bottom: 0;

		li+li {
			margin-top: 10px;
		}

		&__date {
			text-transform: uppercase;
			letter-spacing: $drivschol-letter-space-xl;
			color: $drivschol-text;
			font-size: 14px;
			margin: 0;
			line-height: 2.142857142857143em;
		}

		&__title {
			margin: 0;
			line-height: 1.875em;
			color: $drivschol-black;
			text-shadow: 0 0 .5px currentColor;

			a {
				color: inherit;
				@include borderHover;

				&:hover {
					color: $drivschol-black;
				}
			}
		}
	}

	&__info {
		border-top: 1px solid $drivschol-border-color;
		padding-top: 55px;
		margin-top: 60px;

		&__title {
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
			color: $drivschol-black2;
			font-size: 20px;
			margin-bottom: 24px;

		}

		&__list {
			margin-bottom: 0;

			li {
				@include devices(md) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}

			li+li {
				border-top: 1px solid $drivschol-border-color;
				margin-top: 20px;
				padding-top: 20px;
			}


			&__date {
				color: $drivschol-black2;
				font-size: 16px;
				line-height: 24px;
				text-transform: uppercase;
				display: flex;
				align-items: center;

				>i {
					color: $drivschol-text;
					font-size: 22px;
					margin-right: 10px;
				}
			}

			&__space {
				font-size: 16px;
				line-height: 24px;
				color: $drivschol-text;
				margin-top: 10px;
				margin-bottom: 10px;

				@include devices(md) {
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			&__btn {
				font-size: 10px;
				padding: 10.75px 30px;
			}
		}
	}
}