.service-card {
    position: relative;
    background-color: $drivschol-white;
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.10);

    &__image {
        position: relative;
        height: 260px;
        width: 100%;
        overflow: hidden;

        img {
            transition: all 500ms ease-in-out;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transform: scale(1.0);
        }
    }

    &__content {
        padding: 0px 5px 30px 40px;
        max-width: 320px;
        position: relative;
        background-color: $drivschol-white;

        @media #{$lg,$md,$sm,$xs} {
            padding: 0px 5px 25px 20px;
        }

        &::before {
            clear: both;
            content: "";
            width: 100%;
            height: 23px;
            position: absolute;
            top: -23px;
            left: 0%;
            background-color: $drivschol-white;
        }
    }

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: $fw-ebold;
        margin-top: -4px;
        margin-bottom: 14px;
        line-height: normal;

        @media #{$md,$sm,$xs} {
            font-size: 20px;
        }

        a {
            color: $drivschol-heading-text;
            @include borderHover;

            &:hover {
                color: $drivschol-primary;
            }
        }
    }

    &__text {
        color: $drivschol-text;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 185.714%;
        letter-spacing: 0.42px;
        margin-bottom: 0;
    }

    &__bth {
        position: relative;

        .drivschol-btn {
            position: relative;
            display: inline-block;
            background-color: $drivschol-primary;
            padding: 23px 66px 22px 40px;
            color: $drivschol-white;
            z-index: 1;
            clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
            font-size: 14px;
            font-weight: 600;
            line-height: 178.571%;
            letter-spacing: 0.56px;
            text-transform: capitalize;

            i {
                margin-left: 15px;
            }

            &::before {
                z-index: -1;
            }

            &::after {
                z-index: -1;
            }

            &:hover {
                i {
                    color: $drivschol-primary;
                }
            }
        }

        &::before {
            clear: both;
            content: "";
            width: 110px;
            height: 6px;
            position: absolute;
            bottom: 50%;
            right: 30px;
            background-color: $drivschol-border-color;
            clip-path: polygon(0 0, 90% 0%, 100% 100%, 10% 100%);
            animation: left 4s ease-in-out infinite;

            @media #{$lg,$md,$xs} {
                right: 10px;
                width: 80px;
            }
        }
    }

    &:hover {
        .service-card__image {
            img {
                transform: scale(1.2);
            }
        }
    }
}


.service-page {
    padding: 120px 0px;

    @media #{$md} {
        padding: 100px 0px;
    }

    @media #{$sm,$xs} {
        padding: 80px 0px;
    }
}

.service-one {
    &__home {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: $drivschol-white;

        @media (max-width: 767px) {
            padding: 80px 0;
        }
    }
}

.service-two {
    position: relative;
    padding: 120px 0px 90px 0px;

    @media #{$md} {
        padding: 100px 0px 70px 0px;
    }

    @media #{$sm,$xs} {
        padding: 80px 0px 50px 0px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 38%;
        background-size: cover;
        background-position: center center;
    }

    &__single {
        position: relative;
        background: $drivschol-white;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
        margin-bottom: 30px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        &__image {
            display: block;
            position: relative;
            height: 175px;
            width: auto !important;
            overflow: hidden;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transform: scale(1.0);
                transition: all 500ms ease 0s;
            }

            &::before {
                position: absolute;
                inset: 0px;
                content: "";
                background-color: rgba(0, 0, 0, 0.5);
                width: 0%;
                height: 0%;
                transform: translateY(-100%);
                transition: all 500ms ease 0s;
                z-index: 1;
            }
        }

        &__icon {
            position: absolute;
            right: 20px;
            margin-top: -70px;
            z-index: 1;
            width: 80px;
            height: 80px;
            display: flex;
            background-color: $drivschol-primary;
            justify-content: center;
            align-items: center;

            i {
                color: $drivschol-white;
                font-size: 45px;
            }
        }

        &__content {
            padding: 23px 20px 22px 30px;

            &__title {
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;

                a {
                    @include borderHover;

                    &:hover {
                        color: $drivschol-primary;
                    }
                }
            }

            &__text {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 185.714%;
                letter-spacing: 0.42px;
                margin-bottom: 0;
            }
        }

        &:hover {
            .service-two__single__image::before {
                width: 100%;
                height: 100%;
                transform: translateY(0%);
            }

            .service-two__single__image img {
                transform: scale(1.2);
            }
        }
    }
}

.service-three {
    &__home {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    &__item {
        margin-bottom: 60px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        background: $drivschol-white;
        border-top: 5px solid $drivschol-primary;
        filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.06));
        position: relative;
        transition: all 0.4s ease-in-out;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            transition: 500ms ease;
            opacity: 0;
            transition: all 0.4s ease-in-out;
            z-index: -2;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                opacity: 0;
                z-index: -1;
                transition: all 0.4s ease-in-out;
            }
        }

        &__icon {
            margin-top: -45px;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.4s ease-in-out;
            width: 90px;
            height: 90px;
            border-radius: 500px;
            background-color: $drivschol-primary;
            display: flex;
            align-items: center;
            justify-content: center;

            &__item {
                font-size: 40px;
                color: $drivschol-white;
            }
        }

        &__content {
            padding: 10px 30px 35px 30px;
            text-align: center;

            @media #{$lg} {
                padding: 15px 20px 35px 15px;
            }
        }

        &__title {
            margin-top: -3px;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            transition: all 0.4s ease-in-out;

            @media #{$md,$sm,$xs} {
                br {
                    display: none;
                }
            }
        }

        &__text {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 185.714%;
            margin-bottom: 0;
            transition: all 0.4s ease-in-out;
            letter-spacing: 0;
        }

        &:hover {
            background-color: transparent;

            .service-three__item__title {
                color: $drivschol-white;
            }

            .service-three__item__icon {
                transform: scale(0.8);
            }

            .service-three__item__text {
                color: $drivschol-white;
            }

            .service-three__item__bg {
                opacity: 1;

                &::before {
                    opacity: 1;
                }
            }

        }
    }
}