.product {
	position: relative;

	&__sidebar {
		position: relative;

		&--title {
			position: relative;
			font-size: 20px;
			text-transform: capitalize;
			font-weight: bold;
			margin-top: -5px;
		}
	}

	&__sidebar__search {
		position: relative;
		margin-bottom: 30px;
		input[type="search"],
		input[type="text"] {
			outline: none;
			width: 100%;
			height: 60px;
			background-color: $drivschol-primary;
			font-size: 14px;
			color: $drivschol-white;
			padding-left: 60px;
			padding-right: 20px;
			transition: all 500ms ease;
			border: none;
			&:focus {
				box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
				border: none;
			}
			&::placeholder{
				color: $drivschol-white;
				font-family:$drivschol-font;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 162.5%;
			}
		}


		button[type="submit"] {
			border: none;
			outline: none;
			background-color: rgba(0, 0, 0, 0.0);
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			width: auto;
			font-size: 22px;
			color: $drivschol-white;
		}
	}

	&__price-ranger {
		background: $drivschol-white;
		box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
		padding: 30px;
		margin-bottom: 30px;

		#slider-range {
			margin: 22px 0 0 0px;
			background: $drivschol-gray2;
			border: none;
			height: 6.98px;
			border-radius: 0;
			position: relative;

			.ui-slider-range {
				height: 100%;
				background: $drivschol-primary;
			}

			.ui-slider-handle {
				position: absolute;
				top: -5px;
				background: $drivschol-primary;
				border: 0;
				height: 15.7px;
				width: 15.7px !important;
				border-radius: 50%;
				margin-left: -2px;
				outline: medium none;
				cursor: pointer;
				z-index: 2;
			}
		}

		.ranger-min-max-block {
			position: relative;
			display: block;
			margin: 21.15px 0 0 0px;

			input[type="text"] {
				position: relative;
				display: inline-block;
				color: $drivschol-text;
				width: 40px;
				border: none;
				outline: none;
				font-family: $drivschol-font;
				padding: 0;
				text-align: center;
				background-color: transparent;

				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height:normal;
			}

			span {
				position: relative;
				display: inline-block;
				color: $drivschol-text;
				font-size: 14px;
				font-weight: 500;
				line-height: 40px;
				left: -2px;
			}

			input[type="submit"] {
				position: relative;
				display: block;
				background-color: $drivschol-gray2;
				font-family: $drivschol-font;
				float: right;
				text-align: center;
				border: none;
				color: $drivschol-gray;
				margin: 0;
				cursor: pointer;
				padding: 0 20px;
				height: 38px;
				border-radius: 0;
				transition: all 500ms ease;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 185.714%;

				&:hover {
					background-color: $drivschol-black2;
					color: $drivschol-white;
				}
			}
		}
	}

	&__categories {
		background-color: $drivschol-white;
		padding: 30px;
		box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
		.product__sidebar--title{
			border-bottom: 1px dashed $drivschol-primary;
			padding-bottom: 15px;
			margin-bottom: 5px;
		}
		ul {

			li {
				position: relative;
				margin: 0 0 4px;
				&:not(:last-of-type){
					border-bottom: 1px solid $drivschol-border-color;
				}
				a {
					position: relative;
					display: flex;
					align-items: center;
					line-height: 24px;
					font-size: 16px;
					text-transform: capitalize;
					color: $drivschol-text;
					font-weight: 500;
					transition: all 0.3s ease;
					z-index: 1;
					padding: 9px 15px 11px 0px;
					span {
						position: relative;
						display: inline-block;
						font-size: 12px;
						color: $drivschol-black2;
						margin-right: 10px;
						transition: all 0.3s ease;
					}
					&::before {
						margin-right: 8px;
						content: "\e926";
						font-family: "icomoon" !important;
						font-weight: 500;
						transition: all 500ms ease;
						font-size: 16px;
						color: $drivschol-primary;
					}
				}
				&:last-child{
					border-bottom: 0px;
				}
				&:hover a,
				&.active a {
					color: $drivschol-black2;
					padding-left: 7px;

					&::before {
						transform: scale(1, 1);
						visibility: visible;
						transform-origin: top center;
					}

					span {
						color: $drivschol-text;
					}
				}

				&.active a {
					font-weight: 600;
				}

			}
		}
	}

	&__info-top {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		@media (max-width: 991px) {
			margin-top: 50px;
		}

		@media (max-width: 767px) {
			display: block;
			margin-top: 40px;
		}
	}

	&__showing-text {
		margin: 0;
		font-weight: 700;
		font-size: 18px;
		color: $drivschol-heading-text;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__showing-sort {
		margin: 0;


		.filter-option-inner-inner{
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
		}

		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
			position: relative;
			display: block;
			width: 340px !important;
			font-family: $drivschol-font;
			@media (max-width: 360px) {
				width: 300px !important;
			}
		}

		.bootstrap-select>.dropdown-toggle::after {
			display: none;
		}

		.bootstrap-select .dropdown-menu {
			border: none;
		}

		.bootstrap-select>.dropdown-toggle {
			position: relative;
			height: 64px;
			outline: none !important;
			border-radius: 0;
			border: 0;
			background-color: $drivschol-gray2 !important;
			margin: 0;
			padding: 0;
			padding-left: 30px;
			padding-right: 30px;
			color: $drivschol-text !important;
			font-size: 14px;
			line-height: 64px;
			font-weight: 500;
			box-shadow: none !important;
			background-repeat: no-repeat;
			background-size: 14px 12px;
			background-position: right 25.75px center;
		}

		.bootstrap-select>.dropdown-toggle:before {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 30px;
			font-family: "Font Awesome 5 Free";
			content: "\f107";
			font-weight: 900;
			font-size: 16px;
			color: $drivschol-primary;
		}

		.bootstrap-select .dropdown-menu>li+li>a {
			border-top: 1px solid $drivschol-border-color;
		}

		.bootstrap-select .dropdown-menu>li>a {
			font-size: 14px;
			font-weight: 500;
			padding: 10px 30px;
			color: $drivschol-text;
			background-color: $drivschol-gray2;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}

		.bootstrap-select .dropdown-menu>li:hover>a,
		.bootstrap-select .dropdown-menu>li.selected>a {
			background: $drivschol-text;
			color: $drivschol-white;
			border-color: $drivschol-text;
		}
	}

	&__item {
		position: relative;
		background-color: $drivschol-white;
		border: 1px solid $drivschol-border-color;
		transition: all 500ms ease;

		&__top{

			&__img {
				background-color: $drivschol-white;
				position: relative;
				overflow: hidden;
				max-width: 220px;
				margin-left: auto;
				margin-right: auto;
				img {
					width: 100%;
					height: auto;
					mix-blend-mode: multiply;
					transition: all 500ms ease;
					transform: scale(1);
				}
			}

			&__btn {
				position: absolute;
				right: 20px;
				top: 20px;
				z-index: 2;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					background-color: $drivschol-gray2;
					border-radius: 50%;
					color: $drivschol-gray;
					font-size: 14px;
					visibility: hidden;
					opacity: 0;

					&:hover {
						background-color: $drivschol-primary;
						color: $drivschol-white;
					}

					&:nth-child(1) {
						transition: transform 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity ease 300ms, visibility ease 300ms, background ease 300ms, color ease 300ms, border ease 300ms;
						transform: translate3d(30px, 0, 0);
					}

					&:nth-child(2) {
						transition: transform 550ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity ease 300ms, visibility ease 300ms, background ease 300ms, color ease 300ms, border ease 300ms;
						transform: translate3d(30px, 0, 0);
					}
				}

				a+a {
					margin-top: 10px;
				}
			}
		}

		&:hover {
			box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.08);
			border: 1px solid $drivschol-primary;
			background:$drivschol-white;
			.product__item__top{
				&__img img {
					transform: scale(1.05);
				}
				&__btn a {
					opacity: 1;
					visibility: visible;
					transform: translate3d(0, 0, 0);
				}
			}
		}


		&__content {
			position: relative;
			text-align: center;
			padding: 27px 30px 40px 30px;
		}

		&__title {
			font-size: 20px;
			font-weight: 700;
			line-height: 130%;
			text-transform: capitalize;
			margin-bottom: 3px;

			a {
				color: $drivschol-heading-font;
				@include borderHover;

				&:hover {
					color: $drivschol-primary;
				}
			}
		}

		&__price {
			display: flex;
			justify-content: center;
			color: $drivschol-text;
			margin-bottom: 10px;
			font-family: $drivschol-font;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			&__del{
				margin-left: 5px;
			}
		}
		&__ratings {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			color: $drivschol-primary;
			letter-spacing: 4.5px;
			margin-bottom: 26px;
		}
		&__link {
			color: $drivschol-white;
			padding: 7.5px 30px;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 185.714%;
			&:hover {
				color: $drivschol-white;
			}

			&::after {
				background-color: $drivschol-black2;
			}

			&::before {
				background-color: $drivschol-primary;
			}
		}
	}

}

.product-one {
	padding: 120px 0;

	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&--page {
		padding-top: 100px;

		@media (max-width: 767px) {
			padding-top: 60px;
		}
	}

	&__home {
		position: relative;
		padding: 0 0 90px;

		@media (max-width: 767px) {
			padding-bottom: 50px;
		}

		.sec-title {
			text-align: center;
		}

		.product__item {
			margin-bottom: 30px;
		}
	}


	&__carousel {
		.owl-nav {
			@include devices(lg) {
				display: none;
			}
		}
	}
}