.testimonials-one {
	padding-top: 120px;
	padding-bottom: 160px;
	position: relative;

	@media #{$md} {
		padding-top: 100px;
		padding-bottom: 140px;
	}

	@media #{$sm,$xs} {
		padding-top: 80px;
		padding-bottom: 120px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center center;
	}

	@media (max-width: 991px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.sec-title {
		text-align: center;
	}

	.row {
		--bs-gutter-x: 15px;
	}

	&--page {
		padding-top: 100px;
	}

	&__carousel {
		.owl-nav {
			@include devices(lg) {
				display: none;
			}
		}
	}

	&__home {
		.sec-title {
			text-align: left;
		}

		&__text {
			font-size: 15px;
			line-height: 30px;
			margin: 105px 0 0;

			@media (min-width: 1200px) {
				margin-left: 105px;
			}

			@media (max-width: 991px) {
				margin: -30px 0 45px;
			}
		}
	}
}

.testimonials-card {
	transition: all 500ms ease;
	padding-top: 30px;

	&__inner {
		background-color: $drivschol-white;
		padding: 16px;
		position: relative;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		transition: all 0.4s ease-in-out;
		&::after {
			content: "";
			position: absolute;
			bottom: -42px;
			right: 50px;
			width: 56px;
			height: 43px;
			background: $drivschol-white;
			clip-path: polygon(0 0, 100% 0, 100% 100%);
			z-index: 1;
		}
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, .08);

	&:hover {
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, .5);
	}
	}

	&__top {
		margin-bottom: 33px;

		&__icon {
			margin-top: -57px;
			margin-bottom: 15px;
			width: 83px;
			height: 83px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 500px;
			border: 4px solid $drivschol-white;
			background: $drivschol-black2;
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				color: $drivschol-white;
				font-size: 25px;
			}
		}

		&__rating {
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				color: $drivschol-primary;
				font-size: 21px;
				margin-bottom: -2px;
				letter-spacing: 3px;
			}
		}

		&__designation {
			margin-top: 20px;
			text-align: center;
			max-width: 305px;
			margin-left: auto;
			margin-right: auto;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 187.5%;
			letter-spacing: 0.8px;
		}
	}



	&__author {
		background: $drivschol-gray2;
		padding: 10px 20px;
		display: flex;
		gap: 20px;

		&__image {
			margin-top: -35px;
			width: 66px;
			height: 66px;
			border-radius: 500px;
			overflow: hidden;
			border: 5.33px solid $drivschol-white;
			img{
				object-fit: cover;
			}
		}

		&__name {
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			margin-bottom: -4px;

			a {
				color: $drivschol-black2;
				@include borderHover;

				&:hover {
					color: $drivschol-primary;
				}
			}
		}

		&__degeneration {
			color: $drivschol-gray;
			font-family: $drivschol-font;
			font-size: 11.997px;
			font-style: normal;
			font-weight: 500;
			line-height: 208.333%;
			letter-spacing: 0.48px;
			text-transform: uppercase;
		}
	}



	&__content {
		font-size: 15px;
		line-height: 30px;
		border-top: 1px solid $drivschol-border-color;
		margin-top: 30px;
		margin-bottom: -5px;
		padding-top: 20px;
		padding-right: 1px;
	}
}

.testimonials-two {
	position: relative;
	background: linear-gradient(180deg, #FFF 37.75%, #F5F5F5 100%);

	.funfact {
		&__item {
			position: relative;
			z-index: 1;
			max-width: 262px;
			margin-left: auto;
			margin-right: auto;

			@media #{$lg,$md,$sm,$xs} {
				margin-bottom: 110px;
			}

			&__icon {
				position: relative;
				margin-top: -80px;
				z-index: 2;
				width: 91px;
				height: 80px;
				background: $drivschol-white;
				border-top: 5px solid $drivschol-primary;
				border-right: 5px solid $drivschol-primary;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.4s ease-in-out;

				i {
					color: $drivschol-primary;
					font-size: 50px;
					transition: all 0.4s ease-in-out;
				}

				@media #{$lg,$md,$sm,$xs} {
					margin-top: -80px;
				}
			}

			&__content {
				border-top: 5px solid $drivschol-primary;
				filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.08));
				background-color: $drivschol-white;
				display: inline-flex;
				gap: 15px;
				width: 100%;
				align-items: center;
				margin-top: -5px;
				position: relative;
				padding: 20px 25px;
				z-index: 1;

				@media #{$lg,$md,$sm,$xs} {
					display: block;
				}

				&__number {
					display: flex;

					span,
					.count-text {
						color: $drivschol-black2;
						font-family: $drivschol-heading-font;
						font-size: 40px;
						font-style: normal;
						display: inline-block;
						font-weight: 800;
						line-height: 150%;
					}
				}

				&__text {
					margin-bottom: 0;
					font-size: 16px;
					font-weight: 500;
					line-height: 156.25%;

					@media #{$lg,$md,$sm,$xs} {
						br {
							display: none;
						}
					}
				}
			}

			&:hover {
				.funfact__item__icon {
					height: 80px;
					background: $drivschol-primary;

					i {
						color: $drivschol-white;
						font-size: 40px;
					}
				}
			}
		}
	}

	&__inner {
		padding: 120px 0px;

		@media #{$lg,$md,$sm,$xs} {
			padding-top: 0px;
		}

		@media #{$sm,$xs} {
			padding-top: 0px;
			margin-top: -30px;
		}
	}

	&__carousel {
		overflow: hidden;
		padding: 40px 68px 40px 40px;
		border: 3px solid $drivschol-primary;

		@media #{$xs} {
			padding: 20px 30px 50px 20px;
		}

		&__item {
			display: flex;
			gap: 60px;

			@media (max-width:992px) {
				display: block;
			}

			&__image {
				position: relative;
				max-width: 267px;
				width: 100%;

				img {
					object-fit: cover;
				}

				.quite {
					position: absolute;
					top: -10px;
					right: -30px;
					width: 65px;
					height: 65px;
					border-radius: 500px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $drivschol-primary;

					i {
						color: $drivschol-white;
						font-size: 20px;
					}
				}
			}

			&__content {
				margin-top: 17px;

				@media (max-width:992px) {
					margin-top: 30px;
				}

				&__ratings {
					margin-bottom: 25px;

					span {
						font-size: 25px;
						color: $drivschol-primary;
					}

					@media (max-width:992px) {
						margin-bottom: 15px;
					}
				}

				&__text {
					color: $drivschol-black2;
					font-style: normal;
					font-size: 19.995px;
					font-weight: 400;
					line-height: 185%;
					margin-bottom: 40px;
					letter-spacing: 0;

					@media (max-width:992px) {
						margin-bottom: 20px;
					}
				}

				&__author {
					&__name {
						font-family: $drivschol-heading-font;
						font-size: 24px;
						font-style: normal;
						font-weight: 700;
						line-height: 108.333%;
						margin-bottom: -8px;
						color: $drivschol-black2;
					}

					&__deganation {
						margin-top: -2px;
						color: $drivschol-gray;
						font-family: $drivschol-font;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: 208.333%;
						letter-spacing: 0.48px;
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
			}
		}

	}

	.carousel-thumb__two {
		margin-top: -37px;
		position: relative;
		left: 370px;
		width: 280px;
		height: 70px;
		background-color: transparent;

		@media #{$lg} {
			left: 245px;
		}

		@media #{$md} {
			left: 160px;
		}

		@media #{$md} {
			left: 160px;
		}

		@media #{$sm,$xs} {
			left: 0px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0%;
			right: 0px;
			height: 100%;
			width: 40px;
			z-index: 1;
			background-color: $drivschol-primary;
			clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0%;
			right: -30px;
			height: 100%;
			width: 40px;
			z-index: 1;
			background-color: $drivschol-primary;
			clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
		}
	}

	&__carousel-thumb {
		padding: 00px 30px;
		margin-right: 50px;
		width: 248px;
		height: 70px;
		background-color: $drivschol-primary;
		clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
	}

	.item {
		padding-top: 13px;
		display: flex;
		justify-content: center;
		align-items: center;

		.testimonials-two__meta-thumb {
			display: inline-block;
			width: 45px;
			height: 45px;
			border-radius: 500px;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	.center {
		.testimonials-two__meta-thumb {
			border: 2px solid $drivschol-white !important;
		}
	}

	&__element_one {
		position: absolute;
		top: 0%;
		left: 0%;
		animation: scale 3s ease-in-out infinite;

	}

	&__element_two {
		position: absolute;
		bottom: 0%;
		right: 0%;

		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}

	.owl-nav {
		position: absolute;
		right: 70px;
		bottom: 70px;

		button.owl-prev,
		button.owl-next {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $drivschol-white;
			transition: all 500ms ease;
			color: $drivschol-primary;
			&:hover,
			&:active {
				background-color: $drivschol-black2;
				color: $drivschol-primary;
			}
		}

		// .disabled {
		// 	background-color: $drivschol-white !important;
		// }

		@media #{$md,$sm,$xs} {
			display: none;
		}
	}

}

.center {
	border: 1px solid $drivschol-primary !important;
}

.feedback-one {
	position: relative;
	overflow: hidden;
	padding-top: 140px;
	padding-bottom: 90px;

	@media #{$lg} {
		padding-top: 120px;
		padding-bottom: 70px;
	}

	@media #{$md,$sm,$xs} {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	&__thumb {
		display: flex;
		justify-content: start;
		align-items: end;
		position: absolute;
		bottom: 0%;
		left: 12%;
		margin-right: 0px;

		@media screen and (max-width:1600px) and (min-width:1500px) {
			left: 0%;
		}

		@media screen and (max-width:1499px) and (min-width:1400px) {
			left: -3%;
		}

		@media screen and (max-width:1399px) and (min-width:1200px) {
			left: -5%;
		}

		@media screen and (max-width:1199px) and (min-width:992px) {
			left: -10%;

			img {
				max-width: 85%;
			}
		}

		@media screen and (max-width:1080px) and (min-width:992px) {
			img {
				max-width: 80%;
			}
		}

		@media #{$md,$sm,$xs} {
			margin-bottom: 30px;
			margin-right: 0px;
			position: relative;

			img {
				max-width: 60%;
			}
		}
	}

	&__content {
		position: relative;

		.tns-ovh {
			overflow: visible;
		}

		.tns-item {
			opacity: 0;
			visibility: hidden;
			transition: opacity 500ms ease, visibility 500ms ease;

			&.tns-slide-active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__head {
		@media #{$md,$sm,$xs} {
			.sec-title {
				padding-bottom: 22px;
			}
		}
	}

	&__box {
		max-width: 478px;
		margin-bottom: 30px;
		position: relative;
		background: $drivschol-white;
		filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.08));

		&__item {
			padding: 28px 40px 20px 40px;
			position: relative;

			&__content {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width:576px) {
					display: block;
				}

				&__title {
					font-size: 24px;
					font-weight: 700;
					line-height: 145.833%;
					margin-bottom: 0;
				}

				&__star {
					@media (max-width:576px) {
						margin-bottom: 10px;
					}

					i {
						color: $drivschol-primary;
						font-size: 14px;
					}
				}
			}

			&__text {
				max-width: 293px;
				font-size: 14px;
				line-height: 214.286%;
				margin-bottom: 0;
				letter-spacing: 0;

				@media (max-width:576px) {
					margin-bottom: 50px;
				}
			}

			&::before {
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				content: "";
				width: 56px;
				height: 56px;
				background: $drivschol-primary;
				position: absolute;
				bottom: -1px;
				right: 0;
			}
		}

		&__author {
			position: absolute;
			right: 30px;
			bottom: -20px;

			&__img {
				border: 7px solid $drivschol-white;
				border-radius: 500px;
				display: inline-block;

				&__item {
					border: 5px solid $drivschol-primary;
					width: 94px;
					height: 94px;
					border-radius: 500px;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					img {
						width: 85px;
						height: 85px;
						border-radius: 500px;
					}
				}
			}

			&__quite {
				position: absolute;
				top: 29px;
				left: -11px;
				width: 41px;
				height: 41px;
				border-radius: 500px;
				background: $drivschol-black2;
				border: 2px solid $drivschol-white;
				display: flex;
				justify-content: center;
				align-items: center;

				&__icon {
					color: $drivschol-white;
					font-size: 16px;
				}
			}
		}

		&__bottom {
			background: $drivschol-primary;
			padding: 13px 40px;

			&__content {
				color: $drivschol-white;
				font-family: $drivschol-heading-font;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: uppercase;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0%;
			left: -32px;
			width: 33px;
			height: 38px;
			background-color: $drivschol-white;
			clip-path: polygon(100% 0, 100% 100%, 0 50%);
		}
	}

	&__shape {
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: -1;

		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}

		svg {
			#path-two {
				animation: top-bottoms 3s ease-in-out infinite;
			}

			#path-fore {
				animation: top-bottoms 2s ease-in-out infinite;
			}

			@keyframes top-bottoms {
				0% {
					transform: translateY(0px);
				}

				50% {
					transform: translateY(10px);
				}

				100% {
					transform: translateY(0px);
				}
			}
		}
	}

	&__shape-two {
		position: absolute;
		width: 100%;
		left: 0;
		height: 170px;
		bottom: 0px;
		background-repeat: repeat-x;
		background-position: 0 0;
		background-image: url(../images/shapes/bg-shape.png);
		z-index: -1;
		animation: bgSlide 20s linear infinite;
	}
}
.tns-outer{
	button{
		display: none !important;
	}
}