.topbar-one {
	position: relative;
	background-color: $drivschol-primary;
	height: 50px;
	padding: 0 45px;

	@media (max-width: 1499px) {
		padding: 0 0;
	}

	@media (max-width: 767px) {
		display: none;
	}

	&--three {
		background-color: $drivschol-black2;
		height: 40px;

		.topbar-one__social {
			background: $drivschol-primary;

			a {
				color: $drivschol-white;
			}

			&::before {
				background: $drivschol-primary;
			}

			&::after {
				right: -19px;
				background: $drivschol-primary;
				width: 20px;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			}
		}

		.topbar-one__social a:hover {
			color: $drivschol-black2;
		}

		.topbar-one__right-text {
			i {
				color: $drivschol-primary;
			}
		}

		.topbar-one__text {
			padding-left: 90px;
		}

		.topbar-one__social::after {
			right: -59px;
			width: 60px;
		}

		.topbar-one__social {
			position: relative;
			display: flex;
			padding: 8.5px 0px;
		}

		.topbar-one__right {
			padding: 5px 0px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;



		@media (max-width: 991px) {
			justify-content: space-between;
		}

		@include devices(lg) {
			flex-direction: row;
		}
	}

	&__left {
		display: flex;
		align-items: center;
		margin: 0;

		&__item+&__item {
			margin-left: 20px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		padding: 10.5px 0px;

		@include devices(lg) {
			margin-top: 0;
			margin-left: auto;
		}

		&-text {
			color: $drivschol-white;
			font-size: 14px;
			font-weight: $fw-sbold;
			line-height: 18px;
			letter-spacing: 0;

			a {
				color: inherit;
				@include borderHover;
			}

			i {
				margin-right: 5px;
				font-size: 12px;
			}
		}

		li+li {
			margin-left: 35px;

			@media (max-width: 991px) {
				margin-left: 25px;
			}
		}
	}

	&__text {
		color: $drivschol-white;
		font-size: 14px;
		font-weight: $fw-sbold;
		margin-bottom: 0;
		padding-left: 50px;
		line-height: 18px;
		letter-spacing: 0;

		@media (max-width: 991px) {
			display: none;
		}
	}

	&__social {
		position: relative;
		display: flex;
		padding: 13.5px 0px;
		align-items: center;
		padding-right: 20px;
		background: $drivschol-white;

		a {
			font-size: 14px;
			color: $drivschol-black2;
			transition: all 500ms ease-in-out;

			&:hover {
				color: $drivschol-primary;
			}

			+a {
				@include devices(lg) {
					margin-left: 24px;
				}

				margin-left: 18px;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		&::before {
			content: '';
			background: $drivschol-white;
			width: 9999999px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 99%;
		}

		&::after {
			content: '';
			background: $drivschol-white;
			width: 40px;
			height: 100%;
			position: absolute;
			top: 0;
			right: -39px;
			clip-path: polygon(0 0, 0 100%, 100% 0);
		}
	}
}