

$body-size: 16px;
$letter-space: 0.48px;
$body-line-height: 150%;
$heading-size6: 18px;
$heading-size5: 20px;
$heading-size4: 24px;
$heading-size3: 36px;
$heading-size2: 46px;
$heading-size: 70px;


$fw-normal: normal;
$fw-elight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-ebold: 800;
$fw-blacks: 900;








